html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dapp-screen {
  border-radius: 6px;
  transform: transateX(72px);
}

.border-circle {
  border-radius: 50%;
}
